
/* General */

.submenuWrapper {
    max-width: 700px;
}

/* Header */

.styledLinkContent--header-department-title{
  color: #FFFFFF;
  font-weight: bold;
}

.styledLinkContent--header-promotions-title{
  color: #FFFFFF;
  font-weight: bold;
}
.styledLinkContainer--header-promotions-title{
  background-color: red;
}

/* Footer */

.styledLinkContent--links-footer {
  color: #3D350B;
  font-weight: bold;
}


  